@model Gyms.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassAttendance.First().Client.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassAttendance.First().Client.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassAttendance.First().Client.DateOfBirth)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ClassAttendance) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.DateOfBirth)
                </td>
                <td>
                    <form asp-action="RemoveClient">
                        <input type="hidden" asp-for="@Model.ID"/>
                        @Html.Hidden("clientID", item.Client.ID)
                        <input type="submit" value="Remove Client" class="btn btn-default"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
