@model Gyms.Models.ClassViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class.Instructor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Instructor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Date)
        </dd>
    </dl>
</div>
<div>
    <h4>Class Signup</h4>
    <hr />
    <form asp-controller="Classes" asp-action="Details" asp-route-id="Model.Class.ID" method="get">
        <div class="input-group">
            <span class="input-group-addon">Name: </span>
            <input type="text" class="form-control" name="ClientSearchString" value="@ViewBag.clientSearchStringName"/>
            <span class="input-group-btn">
                <input type="submit" value="Filter" class="btn btn-default"/>
            </span>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.FirstOrDefault().Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.FirstOrDefault().DateOfBirth)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Clients) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    <form asp-action="AddClient">
                        @Html.Hidden("ID", Model.Class.ID)
                        @Html.Hidden("clientID", item.ID)
                        <input type="submit" value="Add Client" class="btn btn-default" />
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <h4>Class Attendance</h4>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class.ClassAttendance.First().Client.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.ClassAttendance.First().Client.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.ClassAttendance.First().Client.DateOfBirth)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Class.ClassAttendance) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.DateOfBirth)
                </td>
                <td>
                    <form asp-action="RemoveClient">
                        @Html.Hidden("ID", Model.Class.ID)
                        @Html.Hidden("clientID", item.Client.ID)
                        <input type="submit" value="Remove Client" class="btn btn-default"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Class.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
